* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather {
    position: relative;
    text-align: center;
    height: 100vh;
}

.warm {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../../assets/warm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.hot {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../../assets/hot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.cool {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../../assets/cool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.cold {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../../assets/cold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
